doctype
html(ng-app='myApp')
  head
    title Greeting
    script(
      src="http://cdn.bootcss.com/angular.js/1.2.0rc3/angular.js")
  body
    h1(ng-init="greeting='HelloWorld'") The greeting is: {{ greeting }}
    script angular.module('myApp', [])
