doctype
html(ng-app='myApp')
  head
    title Scope
    script(
      src="http://cdn.bootcss.com/angular.js/1.2.0rc3/angular.js")
  body
    p We can access: {{ rootProperty }}
    div(ng-controller="ParentController")
      p We can access: {{ rootProperty }} and {{ parentProperty }}
      div(ng-controller="ChildController")
        p We can access:
          {{ rootProperty }} and
          {{ parentProperty }} and
          {{ childProperty }}
        p {{ fullSentenceFromChild }}
    script.
      angular.module('myApp', [])
      .run(function($rootScope) {
        // use .run to access $rootScope
        $rootScope.rootProperty = 'root scope';
      })
      .controller('ParentController', function($scope) {
        // use .controller access properties inside `ng-controller`
        // in the DOM omit $scope, it is inferred based on the current controller
        $scope.parentProperty = 'parent scope';
      })
      .controller('ChildController', function($scope) {
        $scope.childProperty = 'child scope';
        // just like in the DOM, we can access any of the properties in
        // the protopy chain directly from the current $scope
        $scope.fullSentenceFromChild = 'Same $scope: We can access: ' +
          $scope.rootProperty + ' and ' +
          $scope.parentProperty + ' and ' +
          $scope.childProperty
      });
