doctype
html(ng-app='myApp')
  head
    title Some Attr
    script(
      src="http://cdn.bootcss.com/angular.js/1.2.0rc3/angular.js")
  body
    label Their URL field:
    input(type="text" ng-model="theirUrl")
    div(my-directive
        some-attr="theirUrl"
        my-link-text="Click me to go to Google")
    script.
      angular.module('myApp', [])
      .directive('myDirective', function() {
        return {
          restrict: 'A',
          replace: true,
          scope: {
            myUrl: '=someAttr',
            myLinkText: '@'
          },
          template: '\
          <div>\
            <label>My Url Field:</label>\
            <input type="text"\
              ng-model="myUrl" />\
            <a href= "{{ myUrl }}">{{ myLinkText }}</a>\
          </div>'
        };
      });
