doctype
html(ng-app)
  head
    script(
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js")
  body
    div(ng-controller="MyController")
      h1 Hello {{ clock.now }}!
    script(type='text/javascript' src="/js/chapter1/app.js")
