doctype
html(ng-app='myApp')
  head
    title ngClick
    script(
      src="http://cdn.bootcss.com/angular.js/1.2.0rc3/angular.js")
  body
    div(ng-controller="CounterController")
      button(ng-click="count = count + 1"
             ng-init="count=0")
        | Increment
      | count: {{ count }}
      button(ng-click="decrement()").
        Decrement

    script.
      angular.module('myApp', [])
      .controller('CounterController', function($scope) {
        $scope.decrement = function() {
          $scope.count = $scope.count - 1;
        }
      });
