doctype
html(ng-app='myApp')
  head
    title ngController 1
    script(
      src="http://cdn.bootcss.com/angular.js/1.2.0rc3/angular.js")
  body
    div(ng-controller="SomeController")
      {{ someBareValue }}
      button(ng-click="someAction()") Communicate to Child
      div(ng-controller="ChildController")
        {{ someBareValue }}
        button(ng-click="childAction()") Communicate to parent

    script.
      angular.module('myApp', [])
      .controller('SomeController', function($scope) {
        $scope.someBareValue = 'Hello computer';
        $scope.someAction = function() {
          $scope.someBareValue = "Hello human, from parent";
        };
      })
      .controller('ChildController', function($scope) {
        $scope.childAction = function() {
          $scope.someBareValue = 'hello human, from child';
        };
      });
