doctype
html(ng-app='myApp')
  head
    title ngTemplateSyntax
    script(
      src="http://cdn.bootcss.com/angular.js/1.2.0rc3/angular.js")
  body
    div(ng-init="greeting='Hello'").
      {{ greeting }}

    script.
      angular.module('myApp', []);
